{{/* boolean feature tags */}}
{{- $work_device := false -}}{{/* true if this machine should have work setup */}}
{{- "" -}}

{{- $work_device = promptBool "work_device" -}}

[data]
  work_device = {{ $work_device }}
