export PATH=/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:/opt/homebrew/bin/:/opt/homebrew/sbin/:$PATH

[[ -r $HOME/Repos/znap/znap.zsh ]] ||
    git clone --depth 1 -- \
        https://github.com/marlonrichert/zsh-snap.git $HOME/Repos/znap
source $HOME/Repos/znap/znap.zsh

{{ if eq .chezmoi.os "darwin" }}
export EDITOR="mcedit"
znap eval iterm2 'curl -fsSL https://iterm2.com/shell_integration/zsh'
{{ else if eq .chezmoi.os "linux" }}
export EDITOR="mcedit"
{{ else }}
# other operating system
{{ end }}

setopt +o nomatch
setopt auto_cd
HISTSIZE=10000
HISTFILE=~/.zsh_history
SAVEHIST=10000
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt incappendhistory
# setopt hist_ignore_all_dups
# setopt hist_save_no_dups
# setopt hist_ignore_dups
# setopt hist_find_no_dups
unsetopt HIST_REDUCE_BLANKS

# znap eval starship 'starship init zsh --print-full-init'
# znap eval starship "$(starship init zsh)"
# znap prompt
eval "$(starship init zsh)"

mkdir $ZSH_CUSTOM/plugins/pdm
pdm completion zsh > $ZSH_CUSTOM/plugins/pdm/_pdm

znap source ohmyzsh/ohmyzsh

ZSH="$HOME/Repos/ohmyzsh/ohmyzsh"

plugins=(
    last-working-dir
    httpie
    # magic-enter
    colored-man-pages
    aliases
    aws
    # fzf
    fd
    gh
    git
    kate
    extract
    docker
    # thefuck
    brew
    sudo
    pdm
    # copypath
    # copydir
    # dirhistory
    # copybuffer
    # copyfile
)
source $ZSH/oh-my-zsh.sh

# znap source wfxr/forgitz
znap source ellie/atuin

znap source NullSense/fuzzy-sys

export FZF_COMPLETION_TRIGGER='`'
export FZF_DEFAULT_COMMAND='fd --type f'

# Options to fzf command
export FZF_COMPLETION_OPTS='--border --info=inline'

export FZF_CTRL_T_OPTS="
  --preview 'bat -n --color=always {}'
  --bind 'ctrl-/:change-preview-window(down|hidden|)'"

export FZF_CTRL_R_OPTS="
  --preview 'echo {}' --preview-window up:3:hidden:wrap
  --bind 'ctrl-/:toggle-preview'
  --bind 'ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort'
  --color header:italic
  --header 'Press CTRL-Y to copy command into clipboard'"

export FZF_ALT_C_OPTS="--preview 'tree -C {}'"

_fzf_compgen_path() {
  fd --max-depth 2 --hidden --follow --exclude ".git" . "$1"
}

_fzf_compgen_dir() {
  fd --max-depth 2 --type d --hidden --follow --exclude ".git" . "$1"
}

_fzf_comprun() {
  local command=$1
  shift

  case "$command" in
    cd)           fzf --preview 'tree -C {} | head -200'   "$@" ;;
    export|unset) fzf --preview "eval 'echo \$'{}"         "$@" ;;
    ssh)          fzf --preview 'dig {}'                   "$@" ;;
    *)            fzf --preview 'bat -n --color=always {}' "$@" ;;
  esac
}


{{ if eq .chezmoi.os "darwin" }}
    znap source zsh-users/zsh-completions
{{ else if eq .chezmoi.os "linux" }}
zstyle ':autocomplete:*' fzf-completion yes
zstyle ':autocomplete:recent-dirs' backend zsh-z
zstyle ':autocomplete:*' widget-style menu-select
# znap source marlonrichert/zsh-autocomplete

zstyle ':completion:*:descriptions' format '[%d]'
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'exa -1 --color=always $realpath'
# switch group using `,` and `.`
zstyle ':fzf-tab:*' switch-group ',' '.'
# zstyle ':fzf-tab:*' continuous-trigger space

zstyle ':fzf-tab:complete:systemctl-*:*' fzf-preview 'SYSTEMD_COLORS=1 systemctl status $word'

zstyle ':fzf-tab:complete:(-command-|-parameter-|-brace-parameter-|export|unset|expand):*' \
    fzf-preview 'echo ${(P)word}'

zstyle ':fzf-tab:complete:git-(add|diff|restore):*' fzf-preview \
    'git diff $word | delta'
zstyle ':fzf-tab:complete:git-log:*' fzf-preview \
    'git log --color=always $word'
zstyle ':fzf-tab:complete:git-help:*' fzf-preview \
    'git help $word | bat -plman --color=always'
zstyle ':fzf-tab:complete:git-show:*' fzf-preview \
    'case "$group" in
    "commit tag") git show --color=always $word ;;
    *) git show --color=always $word | delta ;;
    esac'
zstyle ':fzf-tab:complete:git-checkout:*' fzf-preview \
    'case "$group" in
    "modified file") git diff $word | delta ;;
    "recent commit object name") git show --color=always $word | delta ;;
    *) git log --color=always $word ;;
    esac'

zstyle ':fzf-tab:complete:brew-(install|uninstall|search|info):*-argument-rest' fzf-preview 'brew info $word'

zstyle ':fzf-tab:complete:tldr:argument-1' fzf-preview 'tldr --color always $word'

zstyle ':fzf-tab:complete:-command-:*' fzf-preview \
  ¦ '(out=$(tldr --color always "$word") 2>/dev/null && echo $out) || (out=$(MANWIDTH=$FZF_PREVIEW_COLUMNS man "$word") 2>/dev/null && echo $out) || (out=$(which "$word") && echo $out) || echo "${(P)word}"'

zstyle ':fzf-tab:complete:*:*' fzf-preview 'less ${(Q)realpath}'
export LESSOPEN='|~/.lessfilter %s'

# zstyle ':fzf-tab:complete:*:options' fzf-preview 
# zstyle ':fzf-tab:complete:*:argument-1' fzf-preview

znap source Aloxaf/fzf-tab

{{ else }}
# other operating system
{{ end }}

# ZSH_AUTOSUGGEST_STRATEGY=( history )
znap source zsh-users/zsh-autosuggestions

# ZSH_HIGHLIGHT_HIGHLIGHTERS=( main brackets )
znap source zsh-users/zsh-syntax-highlighting

eval "$(zoxide init zsh)"

alias l='exa  --icons --classify  --long --header --group --color auto --color-scale --git --sort=modified --group-directories-first --git-ignore'
alias la='exa  --icons --classify  --long --header --group --color auto --color-scale --git --sort=modified --group-directories-first --all'
alias ll='exa  --icons --classify  --long --header --group --color auto --color-scale --git --sort=modified --group-directories-first --tree  --level=2 --all'
alias ls='exa  --icons --classify  --long --header --group --color auto --color-scale --git --git-ignore --git-ignore'
alias fd='fd -HI'

# alias nali='~/go/bin/nali'
# alias mc='mc -x'
# alias mcedit='mcedit -x'


{{ if eq .chezmoi.os "darwin" }}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/opt/homebrew/Caskroom/mambaforge/base/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/opt/homebrew/Caskroom/mambaforge/base/etc/profile.d/conda.sh" ]; then
        . "/opt/homebrew/Caskroom/mambaforge/base/etc/profile.d/conda.sh"
    else
        export PATH="/opt/homebrew/Caskroom/mambaforge/base/bin:$PATH"
    fi
fi
unset __conda_setup

if [ -f "/opt/homebrew/Caskroom/mambaforge/base/etc/profile.d/mamba.sh" ]; then
    . "/opt/homebrew/Caskroom/mambaforge/base/etc/profile.d/mamba.sh"
fi
# <<< conda initialize <<<

{{ else if eq .chezmoi.os "linux" }}

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/opt/conda/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/opt/conda/etc/profile.d/conda.sh" ]; then
        . "/opt/conda/etc/profile.d/conda.sh"
    else
        export PATH="/opt/conda/bin:$PATH"
    fi
fi
unset __conda_setup

if [ -f "/opt/conda/etc/profile.d/mamba.sh" ]; then
    . "/opt/conda/etc/profile.d/mamba.sh"
fi
# <<< conda initialize <<<

{{ else }}
# other operating system
{{ end }}




